<div class="background">
  <div class="header-container">
    <div class="header-text">
      <div class="greeting">{{greeting}}</div>
      <div class="cta">Vamos localizar um prontuário?</div>
    </div>
    <app-button-with-icon text="Novo paciente" variant="primary" icon="plus" (click)="handleNewPatient()"></app-button-with-icon>
  </div>
  <div class="filters-container">
    <form class="form-container" [formGroup]="filterForm">
      <div class="form-field name">
        <input nz-input nzSize="large" placeholder="Digite o nome do paciente" formControlName="name" (keydown)="onKeyDown($event)"/>
        @if (true) {
          <nz-icon nzType="search" ></nz-icon>
        }
      </div>

      <div class="form-field">
        <label>Data de nacimento</label>
        <input nz-input placeholder="Selecione uma data" formControlName="birthDate" mask="d0/M0/0000" [dropSpecialCharacters]="false" [showMaskTyped]="true" (keydown)="onKeyDown($event)"/>
      </div>


      <div class="form-field">
        <label>Convênio</label>
        <nz-select nzShowSearch [nzSelectOnTab]="true" [nzFilterOption]="filterOption" nzPlaceHolder="Selecione" formControlName="healthPlan" [nzDropdownRender]="dropdownRenderConvenio">

          <nz-option [nzValue]="null" nzLabel="N/A"></nz-option>
          @for (option of healthPlans(); track option.id) {
            <nz-option [nzValue]="option.name" [nzLabel]="option.name"></nz-option>
          }
        </nz-select>

        <!-- Template do botão customizado -->
        <ng-template #dropdownRenderConvenio>
          <div class="custom-dropdown-btn" (click)="handleNewHealthPlan()" >
            Adicionar novo convênio
          </div>
        </ng-template>
      </div>

      <div class="form-field">
        <label>Gênero</label>
        <nz-select nzShowSearch [nzSelectOnTab]="true" [nzFilterOption]="filterOption" nzPlaceHolder="Selecione" formControlName="gender">

          <nz-option [nzValue]="null" nzLabel="N/A"></nz-option>
          <nz-option nzValue="M" nzLabel="Masculino"></nz-option>
          <nz-option nzValue="F" nzLabel="Feminino"></nz-option>
        </nz-select>
      </div>

      <div class="form-field">
        <label>Telefone</label>
        <input nz-input placeholder="Insira o telefone" formControlName="phone" (keydown)="onKeyDown($event)"/>
      </div>

      <div class="form-field" [style.display]="expandedFilter ? 'block' : 'none'">
        <label>CPF</label>
        <input nz-input placeholder="Insira o CPF" formControlName="cpf" (keydown)="onKeyDown($event)"/>
      </div>

      <div class="form-field" [style.display]="expandedFilter ? 'block' : 'none'">
        <label>RG</label>
        <input nz-input placeholder="Insira o RG" formControlName="rg" (keydown)="onKeyDown($event)"/>
      </div>

      <div class="form-field" [style.display]="expandedFilter ? 'block' : 'none'">
        <label>Ficha de Consulta</label>
        <input nz-input placeholder="Insira o número" formControlName="record" (keydown)="onKeyDown($event)"/>
      </div>

      <div class="form-field" [style.display]="expandedFilter ? 'block' : 'none'">
        <label>Ficha de Ecografia</label>
        <input nz-input placeholder="Insira o número" formControlName="recordEco" (keydown)="onKeyDown($event)"/>
      </div>
    </form>
    <app-space height="16px"></app-space>
    <div class="form-footer">
      <div>
        <app-button-with-icon [text]="expandedFilter ? 'Recolher filtros' : 'Expandir filtros'"
                              icon="filter"
                              (click)="expandedFilter = !expandedFilter"></app-button-with-icon>
      </div>
      <div class="form-actions">
        <div class="clear-filter" (click)="clearFilters()">Limpar</div>
        <app-button-with-icon text="Buscar"
                              icon="search"
                              variant="primary"
                              (click)="submitForm()"></app-button-with-icon>
      </div>
    </div>

  </div>
</div>
