<div class="background no-print">
  <div class="header-container">
    <div class="logo-container">
      <img src="logo.svg" alt="Logo" class="logo">
      <h1 class="header-title">{{APP_NAME}}</h1>
    </div>
    <nav class="nav-container">
      <ul class="nav-list">
        <li>
          <app-nav-link icon="container" [isActive]="getPath() == '/fichario'" (click)="navigate('fichario')">Fichário digital</app-nav-link>
        </li>
        <li>
          <app-nav-link icon="calculator" [isActive]="getPath() == '/financeiro'" (click)="navigate('financeiro')">Gestão financeira</app-nav-link>
        </li>
      </ul>
    </nav>
  </div>
</div>
