@use '../../../mixins/typography' as typography;

.background {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 66px;
}
.header-container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.logo {
  width: var(--space-700);
}

.header-title {
  @include typography.header-h1;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: var(--space-300);
}

.nav-container {
  display: flex;
  align-items: flex-end;
}
.nav-list {
  display: flex;
  gap: var(--space-1000);
}
