@page {
  size: 109mm 165mm;
  margin: 10px;
}
@media print {
  body * {
    display: none !important;
  }
  #print-container {
    display: flex !important;
    visibility: visible !important;
  }
}

#print-container {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  font-size: var(--space-300);

  .border {
    border: 2px solid black;
    padding: 20px;
    width: 550px;
    display: grid;
    font-size: var(--space-300);
  }

  .dados {
    padding: 20px;
  }

  :host ::ng-deep{
    .mat-mdc-dialog-surface {
      justify-content: center !important;
    }
  }

  .file-number {
    justify-self: end;
    align-self: start;
    border: 1px solid #aaa;
    padding: 12px 20px;
    min-width: 150px;
  }

  .dados-table-header,
  .dados-table-row,
  .dados-table-row-name,
  .dados-table-row-phone {
    width: fit-content;
    padding: var(--space-100) 0;
  }
  .dados-table-row-phone {
    width: 50px;
  }
  .dados-table-header {
    min-width: 80px;
  }

  .dados-table-row
  {
    padding: 0 10px;
  }

  .dados-table-header {
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
  }

  .dados-table-row-name {
    text-align: left;
  }

  .dados-table-row-phone {
    text-align: right;
  }
}

