<div class="background">
  <div class="title">Pacientes ({{patients().totalResults}})</div>
  <nz-table [nzTotal]="patients().totalResults"
            [nzPageSize]="10"
            [nzPageIndex]="page()"
            [nzShowPagination]="true"
            [nzFrontPagination]="false"
            (nzPageIndexChange)="changePage($event)"
            nzPaginationPosition="bottom"
            [nzBordered]="true"
            [nzWidthConfig]="widthConfig"
            [nzData]="patients().items">
    <thead>
    <tr>
      <th>Nome</th>
      <th>Ficha de Consulta</th>
      <th>Ficha de Ecografia</th>
      <th>Data de Nascimento</th>
      <th>Gênero</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
    @for (patient of patients().items; track patient.id) {
      <tr>
        <td>{{patient.name}}</td>
        <td>{{patient.fileNumber}}</td>
        <td>{{patient.fileNumberEco}}</td>
        <td>{{patient.birthDate | date: 'dd/MM/yyyy' : 'America/Sao_Paulo'}}</td>
        <td>{{patient.gender}}</td>
        <td class="access-file" (click)="accessFile(patient)">Ver Ficha</td>
      </tr>
    }
  </tbody>
  </nz-table>
</div>
