@use '../../../mixins/typography' as typography;

.background {
  width: 100%;
  background-color: white;
  padding: var(--space-600);
}

.hidden {
  display: none;
}
.title-container {
  display: flex;
  align-items: center;
  @include typography.h5-medium;
  margin-bottom: var(--space-400);
  gap: var(--space-500);
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters {
  margin-bottom: var(--space-400);
  display: grid;
  grid-template-columns: 3.5fr repeat(3, 3fr) 1fr;
  align-items: flex-end;
  gap: var(--space-400);
}

.custom-dropdown-btn {
  display: flex;
  justify-content: center;
  padding: var(--space-250) var(--space-600);
  cursor: pointer;
  margin-top: 4px;
  color: var(--ant-primary-8) !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

label {
  @include typography.body-regular;
}

.form-field {
  display: grid;
  position: relative;
  gap: var(--space-200);
  input, nz-select, nz-date-picker {
    width: 100%;
  }
}
.clear-filter {
  display: flex;
  @include typography.h5-regular;
  color: var(--ant-primary-8);
  cursor: pointer;
  margin-top: -27px;
}
th {
  background-color: #fafafa;
  @include typography.body-medium;
  color: rgba(0,0,0,0.85);
  text-align: left;
  padding: var(--space-400);
  border: 1px solid rgba(0,0,0, 0.06);
}
td {
  padding: var(--space-400);
  border-bottom: 1px solid rgba(0,0,0, 0.06);
  @include typography.body-regular;
}
tr {
  border: 1px solid rgba(0,0,0, 0.06);
}

.title {
  @include typography.h5-medium;
}


:host::ng-deep {
  .ant-tag {
    width: 100%;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.description-container {
  display: flex;
  flex-direction: column;
}

.description-description {
  @include typography.body-regular;
  color: rgba(0,0,0,0.85);
}

.description-patient {
  @include typography.footer-note;
  color: rgba(0,0,0,0.45);
}

.table-actions {
  width: 100%;
  display: flex;
  gap: var(--space-200);
  align-items: center;
  justify-content: center;
}

.table-action-icon-container {
  width: var(--space-800);
  height: var(--space-800);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.table-action-icon {
  font-size: var(--space-400);
}
.table-action-icon-container:hover {
  color: rgba(0,0,0,0.65);
}
.table-footer {
  @include typography.body-regular;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border:  1px solid rgba(0,0,0, 0.06);
  background-color: #FAFAFA;
  padding: var(--space-400);
}

