/* You can add global styles to this file, and also import other style files */
:root {
  --ant-primary-8: #0050B3;
  --ant-background-color: #F0F2F5;

  --space-100: 4px;
  --space-150: 6px;
  --space-200: 8px;
  --space-250: 10px;
  --space-300: 12px;
  --space-400: 16px;
  --space-500: 20px;
  --space-550: 22px;
  --space-600: 24px;
  --space-700: 28px;
  --space-800: 32px;
  --space-900: 36px;
  --space-1000: 40px;
  --space-1100: 44px;
  --space-1200: 48px;
  --space-1300: 52px;
  --space-1400: 56px;
  --space-1500: 60px;
  --space-1600: 64px;
  --space-2000: 80px;
}
.ant-btn-primary {
  background-color: var(--ant-primary-8);
  border-color: var(--ant-primary-8);
}
body {
  background-color: var(--ant-background-color);
  font-family: Inter, sans-serif !important;
  overflow: auto;
}

.font-weight-bold {
  font-weight: bold !important;
}

* {
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
